body{
    font: 20px, Arial, sans-serif;
}

.navbar {
    background-color: #298A08;
}
.quem-somos{
    background: #8181f7;
    color: white;

}

.margin{
    padding-bottom: 50px;
    padding-top: 30px;

}
.parceiros{
    background-color: tomato;
}

.bg-footer {
    background-color: black;
    color: white;
}